.container{
    height:99.435vh;
    width: 100vw;
    display: contents;
    justify-content: center;
    align-items: center;
}

.vidStyles{
    height: 100%;
    width: 100%;
    object-fit: fill
}